body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
}

#carCanvas {
  background: lightgray;
}

#networkCanvas {
  background: black;
}

#verticalButtons {
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em;
}

button:hover {
  background-color: wheat;
}